.Details {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 3vw 0px;
  background-color: #233b54;
  display: flex;
}

.Details > img {
  width: 30%;
  height: 100%;
}

.Details-Text {
  text-align: center;
  padding: 0 5rem;
}

.Details-Text > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #fff;
  text-shadow: -1px -1px 0px #AECEFB,
  3px 3px 0px #AECEFB,
  6px 6px 0px #AECEFB;
}

.Details-Text > h2 > span {
  font-size: 30px;
  color: #FBDBAE;
}

.Details-Text > h3 {
  font-size: 36px; 
}

.Details-Text > p {
  font-size: 24px;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
}
