.details {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 70px;
  background-color: #233b54;
  display: flex;
}

.detailsImageContainer > img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 30px;
}

.detailsImageContainer {
  display: flex;
  position: absolute;
  left: 10%;
  width: 450px;
  height: 550px;
  border: 2px solid red;
  border-radius: 5%;
  background-color: transparent ;
}

.detailsImageContainer:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.detailsText {
  text-align: center;
  padding: 0 5rem;
}

.detailsText > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-family: 'Prompt', sans-serif;
}

.detailsText > h2 > span {
  font-size: 30px;
  color: #FBDBAE;
}

.detailsText > h3 {
  font-size: 36px; 
  color: #fff;
  font-family: 'Prompt', sans-serif;
}

.detailsText > p {
  font-size: 24px;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
  font-family: 'Prompt', sans-serif;
}